.grid{
    display: grid;
    grid-template-columns: 1150px auto;
    &__hero{
        img{
            width: 1150px;
            height: 500px;
        }
    }
    &__agents{
        background-color: #ecdcca;
        
        

        h1{
            text-align: center;
            color: #faad07;
            margin-top: .6em;
            font-size: 3em;
        }
    }

    &__agents--realtor{
        display: grid;
        grid-row-gap: 2em;
        justify-items: center;
        margin-top: 1.5em;

        img{
            width: 150px;
            height: 100px;
            
           
        }

        
    }

    
}


