$color-backagents: #eddecd;
$color-textagents: #faad07;
$color-nomagents: #000000;
$color-title: #92704d;
$color-logo: #d1b58a;
$color-lorem: #896749;
$color-fons: #ffffff;

@mixin btn {
  background: linear-gradient(#cea879, #ceb778, #cdcb76, #ccd975);
  padding: 1em 5em;
  font-weight: bold;
  border-radius: 10px;
  left: 10%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 2rem;
  color: white;
  cursor: pointer;
}

#model {
  text-align: center;
  padding: 1rem;
  width: 97.7%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  &:target {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__heading {
      img {
        padding: 1em 0;
        width: 50%;
        box-shadow: 8px 4px 17px -7px rgba(255, 199, 110, 1);
        overflow: hidden;
      }
    }

    &__paragraph {
      padding-left: 0rem;
      padding-top: 3rem;
      h2 {
        text-align: start;
        font-weight: lighter;
        color: $color-title;
      }

      h3 {
        text-align: start;
        font-weight: lighter;
      }
    }

    &__para {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      column-gap: 5rem;
      width: 30rem;
      line-height: 2rem;

      &--text {
        padding: 1rem;
      }
    }

    &__btn {
      @include btn();
      transform: translateX(0%);
      left: 0%;
    }
  }
}

.modal {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  &__heading {
    img {
      padding: 1em 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 8px 4px 17px -7px rgba(255, 199, 110, 1);
      overflow: hidden;
    }
  }

  &__para {
    grid-template-columns: repeat(1, 100%);

    width: 80%;
    line-height: 2rem;

    &--text {
      padding: 1rem;
    }
  }
}
