
* {
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 5% auto;
    grid-gap: 1em;
    background-color: whitesmoke;
    
  }

  .container>div {
    
  }
  .aside {
    grid-row-start: 1;
    grid-row-end: 6;
  }