@mixin responsive-column {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
}

.ziko {
  h1 {
    font-size: 4rem;
    font-family: "Nunito";
    color: #faad07;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    text-align: center;
    &--maison {
      background-color: #eddecd;
      width: 60%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 8px 4px 17px -7px rgba(255, 199, 110, 1);
      border-radius: 10px;
      margin-top: 1em;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 1s;

        &:hover{
          transform:scale(1.2);
        }
      }
      
      .name{
        background-color: #faad07;
        transform: translate(50%, -50%);
        
        width: 50%;
        padding: .4em 0;
        p{
          color: white;
        }
        
      }
      ul {
        li {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          padding: 1em 0;
          color: white;
        }
      }
      button {
        background-color: #faad07;
        border: none;
        width: 100%;
        padding: 1em 0em;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }
}

//media maisons

@media only screen and (max-width: 800px) {
  .ziko {
    &__grid {
      @include responsive-column();
    }
  }
}
// footer

footer {
  background-color: #eddecd;
  
  width: 100%;
  height: 25em;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.3em;
    padding-top: 3em;
    li {
      a {
        text-decoration: none;
      }

      &:hover{
        
        border-bottom: 0.2em solid #47c3cd;
        border-bottom-width: thick;
        color: #47c3cd;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    img {
      padding-top: 1em;
      position: absolute;
      width: 20%;
      padding-top: 4em;
    }
  }
  .copy-right {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .copy {
      position: relative;
      top: 400%;
      left: 100%;
      display: flex;
      transform: translateX(-50%);
      padding-top: 1em;
    }

    .message {
      transform: translateY(-25%);

      input[type="text"] {
        border: none;
        padding: 0.5em 2em;
        background-color: none;
        border-radius: 5px;
        margin-left: 0.6em;
      }

      input[type="button"] {
        border: none;
        padding: 0.3em 1em;
        background-color: #faad07;
      }
    }
  }
}

//media footer

@media only screen and (max-width: 800px) {
  footer {
    height: 26em;
    ul {
      display: block;
      text-align: center;
    }
    .footer {
      img {
        position: none;
      }
    }
    .copy-right {
      .copy {
        position: relative;
        top: 130%;
        left: 100%;
        display: block;
        text-align: center;
      }
  
      .message {
        transform: translateY(0%);
        text-align: center;
      }
    }
  }
}